

.title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}




/** header **/

.navbar {
    height: 60px;
    background-color: #000;
}

.nav-item {
    padding-right: 40px;
}

a.nav-link {
    color: white;
}

.navbar-nav .dropdown-menu{
    background-color: #000;
}

.navbar-nav .dropdown-menu .dropdown-item{
    color: rgb(255, 255, 255);
    background-color: #000;
}

.parallax-header {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-home {
    width: 100%;
    height: 100vh;
    background-image: url(/img/header.jpg);
    background-size: cover;
    position: relative;
}

.header-title {
    text-align: center;
}

.nav-title {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 60px;
    letter-spacing: 0.1em;
}

.nav-title_subtitle {
    color: #ffffff;
    font-size: 26px;
}

.header-bottom {
    margin-top: 60px;   
}

.header-bottom .btn {
    background: yellow;
    border-radius: 80px;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.header-bottom .btn:hover {
    background: rgba(217, 255, 0, 0.938);
}


/** header end**/


#headrewrap {
    background: url(/img/sectionone.png) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 600px;
    width: 100%;
}

.text-start {
    margin-top: 350px;
}
.subtitle {
    color: #ffffff;
    font-size: 36px;
}
.text {
    color: #ffffff;
    letter-spacing: 0.2em;
}


.img-fluid {
    width: 432px;
    margin-bottom: 50px;
}

.nav-title-title {
    font-size: 36px;
    margin-bottom: 19px;
}

.nav-text {
    font-size: 20px;
}

.row .card {
    padding-left: 0;
    padding-right: 0;
    margin-left: 100px;
    margin-bottom: 80px;
    margin-top: 80px;
    --bs-card-border-width:var(--bs-card-border-width)
}

.project_img{
    width: 30px;
    margin-right: 10px;
}

.benefist_block {
    margin-bottom: 40px;
}

.benefist_icons {
    width: 121px;
}